{% load static %}  
<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    <title>Home</title>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a href="/home/" class="navbar-brand">NewsExperst.COM</a>
                    </div>

                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">About One</a></li>
                                    <li><a href="#">About Two</a></li>
                                    <li><a href="#">About Three</a></li>
                                    <li><a href="#">About Four</a></li>
                                    <li><a href="#">About Five</a></li>
                                    <li><a href="#">About Six</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Welcome</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <div class="navbar-form">
                                    <div class="form-group" >
                                        <div class="input-group">
                                            <input type="search" placeholder="Search Anything Here..." class="form-control" id="search">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Logout <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/profile/login">Login</a></li>
                                    <li><a href="/profile/logout">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class='upper-section'>

        <div class="user-information-section">

            {%if profile.Picture %}
            <img src="{{ profile.Picture.url }}" class="profile_picture">
        {% else %}
            <img src="{% static 'Profile/images/default.png' %}" class="profile_picture">
        {% endif %}
            <div style="z-index: 1; font-weight: bolder; margin-top: 5px;">
                <h2> Welcome {{user.username}}</h2>
            <p > name : {{user}}</p>
            {%if profile.City   %}

                 <p> location : {{profile.City.name }}</p>
                 <p> country : {{profile.City.country}}</p>
            {% else %}
            <p> location : unset</p>
            <p> location code: unset</p>
            {% endif %}
            <button> <a href="/profile/alter">edit</a> </button>
            </div>
        </div>
        <div class="weather-information-section">
            <div class="current-weather"> 
                <div>
                    <h3> Current Weather </h3>
                    <p> tempeture: {{weather.current.tempeture}}</p>
                    <p> description: {{ weather.current.description}}</p>
                    <p> wind-kph: {{weather.current.wind_kph}}</p>
                </div>
                <img  src="{{weather.current.icon}}"  class='weather_icon'>
            </div>

            <div class="weather-forcast"> 
                <div style="margin-left: 15px;">
                    <h3>  Weather Forecast </h3>
                    <p> max tempeture: {{weather.forecast.max_temp}}</p>
                    <p> min tempeture: {{weather.forecast.min_temp}}</p>
                    <p> avg tempeture: {{weather.forecast.avg_temp}}</p>
                    <p> 
                        will it rain: {% if weather.forecast.rain is 0 %}
                            No
                        {%else%}
                            yes
                        {%endif%}
                    </p>
                </div>
                <img  src="{{weather.forecast.icon}}"  class='weather_icon'>
            </div>

        </div>
    </div>

    <div class="lower-section">
        <div class="news-section">
            <div class="top-news-section">
                <h1>NEWS</h1>
                <div class="catigories">
                    <ul style=" display:flex">
                        <li> <a href="/home/Sports">Sports</a>  </li>
                        <li> <a href='/home/Economy'>Economy</a> </li>
                        <li> <a href="/home/Opinion">Opinion</a> </li>
                        <li> <a href="/home/Space/">Space </a> </li>
                    </ul>
                </div>
            </div>
            <div class="headlines">
            </div>

                <center><button class="load-more"> Load More </button> </center>

            <p class="source"> {{news.source}}</p>
        </div>
        <div class="event-section">
            <div class="top-event-section"><h1>TOP NEWS</h1></div>
            {% for new in top_news %}
            <div class="top-news">
                <img src="{{ new.image}}" class="top-news-image">
                <div>
                    <a href="{{new.url}}" class="top-news-title"> {{new.headline}}</a> 
                    <p class="news-summary"> {{new.text}} </p>
                    <p class="pub-date">{{ new.pub_date }}</p>
                </div>

            </div>
            {%endfor%}
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>

    $page=1;
    const searchInput = document.getElementById('search');

    get_news();
    
    document.querySelector('.load-more').addEventListener('click', get_news);

    function get_news() {
        $page += 1;
        fetch(`${window.location.origin}/home/get_news/?page=${$page}`, {
    method: 'GET',
    headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}',
    },
})
.then((response) => {
    console.log('Response:', response);
    return response.json(); // Return the parsed JSON data
})
.then((data) => {
    console.log('Response from server:', data);
    const headlines = document.querySelector('.headlines');
    data.serialized_news.forEach((new_item) => {
        const article = document.createElement('div');
        article.className = 'articale';
        article.innerHTML = `
            <img src="${new_item.image}" class="news-image">
            <div>
                <a href="${new_item.url}" class="news-title">${new_item.headline}</a>
                <p class="news-summary">${new_item.text}</p>
                <p class="pub-date">${new_item.pub_date}</p>
            </div>
        `;
        headlines.appendChild(article);
    });
})
.catch((error) => {
    console.error('Error:', error);
});
        console.log("Load more news clicked");
    }

    searchInput.addEventListener('search', function(event) {
        event.preventDefault();
        const query = searchInput.value.trim();
        const formData = new FormData();
        formData.append('search', query);
        if (query) {
            console.log("Search query:", query);

            fetch(`${window.location.origin}/home/get_news/`, {
                method: 'POST',
                headers: {
                    // 'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}',
                },
                body:formData,
            })

            .then(response => response.json())
            .then(data => {
                document.querySelector('.headlines').innerHTML = '';
                data.serialized_news.forEach((new_item) => {
                    const article = document.createElement('div');
                    article.className = 'articale';
                    article.innerHTML = `
                        <img src="${new_item.image}" class="news-image">
                        <div>
                            <a href="${new_item.url}" class="news-title">${new_item.headline}</a>
                            <p class="news-summary">${new_item.text}</p>
                            <p class="pub-date">${new_item.pub_date}</p>
                        </div>
                    `;
                    document.querySelector('.headlines').appendChild(article);

                }); 

            })
            .catch(error => console.error('Search error:', error));
        }
    });

    
</script>
</body>
</html>



 
