{% load static %}  
{% csrf_token %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="stylesheet" href="{% static 'Profile/css/profile.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">

    <title>Profile</title>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                        <a href="/home/world" class="navbar-brand">NewsExperst.COM</a>
                    </div>

                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" >About Us <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">About One</a></li>
                                    <li><a href="#">About Two</a></li>
                                    <li><a href="#">About Three</a></li>
                                    <li><a href="#">About Four</a></li>
                                    <li><a href="#">About Five</a></li>
                                    <li><a href="#">About Six</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Welcome</a></li>
                            <li><a href="#">Services</a></li>

                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    <ul class="nav navbar-nav">
                            <li>
                                <form action="" class="navbar-form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="search" name="search" id="" placeholder="Search Anything Here..." class="form-control">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li ><a href="/profile" ><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Login / Sign Up <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="login">Login</a></li>
                                    <li><a href="logout">Sign Up</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="profile-section"> 
        {%if profile.Picture %}
            <img src="{{ profile.Picture.url }}" class="profile_picture">
        {% else %}
            <img src="{% static 'Profile/images/default.png' %}" class="profile_picture">
        {% endif %}
        <div style="z-index: 1; font-weight: bolder; margin-top: 5px;">
            <p > name : {{user}}</p>
            {%if profile.City  %}

                <p> location : {{profile.City.country}}</p>

            {% else %}
            <p> locateion : unset </p>
            {% endif %}
        </div>
        <div  style="z-index: 1; font-weight: bolder; margin-top: 5px; margin-left: 5%;">
            <p>first name : {{profile.FirstName}}</p>
            <p>last name : {{profile.LastName}}</p>
            <p>Email : {{profile.Email}}</p>
            

        </div>
        <a href="alter" class="alter-button" style="text-decoration: none;"> alter information </a>
    </div>





    <div class="to-do-list">
        <p class="heading">  your tasks</p>
            {% for task in tasks %}
                <div class="task">
                    <div style="display: flex; width: 80%;" >
                        <div class="{% if task.Preiorety == 'H' %}hight{% elif task.Preiorety == 'M' %}medium{% elif task.Preiorety == 'L' %}low{% endif %}"> </div>
                        <div contenteditable="true"  class="test" onblur="updatetask(this)" data-task-id="{{task.id}}"> - {{task.text}}  </div>
                    </div>
                    <div style="display:flex; ">
                        <p style="margin-right: 5px;">{{task.deadline}}</p>
                        <button onclick="deletetask('{{ task.id }}')" >Del</button>
                        <input type = "checkbox" onchange = "markasddone('{{task.id}} ' , '{{task.status}} ' )" {% if task.status  %} checked {% endif %} >
                    </div>
                </div>
            {% endfor %}
            
        <div style="display:flex;justify-content: space-between;"> 
            <button class="open-button" onclick="showForm()"> ADD</button>    
            <button class="reset-button" onclick="resettasks('{{task_list.id}}')"> Reset</button>
        </div> 
    </div>

    <div id="map"></div>

    <div class="form-popup" id="myForm">
        <div  class="form-container">
          <h3> ADD A TASK </h3>
      
          <label for="text"><b>Text</b></label>
          <input type="text" placeholder="Enter text ..." required class="task-text">
      
          <button class="btn" onclick="createtask('{{task_list.id}}')">add</button>
          <button type="button" class="btn cancel" onclick="hideForm()">Close</button>

        </div>
      </div>
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
      <script>
      const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

        document.addEventListener('DOMContentLoaded', function () {
                try {
                var map = L.map('map').setView([0, 0], 1);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; OpenStreetMap',
                }).on('tileerror', function (e) {
                    console.error("Tile error:", e);
                }).addTo(map);
            } catch (e) {
                console.error("Map initialization error:", e);
            }

        });

        function showForm() {
        document.getElementById("myForm").style.display = "block";
        }

        function hideForm() {
        document.getElementById("myForm").style.display = "none";
        }


        function createtask(task_list_id){
            const inputValue = document.querySelector(".task-text").value


            const apiUrl = `${window.location.origin}/api/createtask/`;

            const data = {
            text: inputValue,
            list: task_list_id,
            };

            const requestOptions = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify(data),
            };

            fetch(apiUrl, requestOptions)
            .then(response => {
                if (!response.ok) {
                throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                outputElement.textContent = JSON.stringify(data, null, 2);
            })
            .catch(error => {
                console.error

            ('Error:', error);
            });
            hideForm()
            }

            function deletetask(task_id){
                const apiUrl = `${window.location.origin}/api/taskdatails/${task_id}`;
                const requestOptions = {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                };

                fetch(apiUrl, requestOptions)
                .then(response => {
                    if (!response.ok) {
                    throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    outputElement.textContent = JSON.stringify(data, null, 2);
                })
                .catch(error => {
                    console.error
                ('Error:', error);
                });
            }
            function resettasks(task_list_id){
                const apiUrl = `${window.location.origin}/api/resettasks/?list=${task_list_id}`;
                const requestOptions = {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                };

                fetch(apiUrl, requestOptions)
                .then(response => {
                    if (!response.ok) {
                    throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    outputElement.textContent = JSON.stringify(data, null, 2);
                })
                .catch(error => {
                    console.error
                ('Error:', error);
                });
            }

            function markasddone(task_id,current_status){
                const val=current_status.trim().toLowerCase()
                const value = (val === 'true'); //pars the string to boolien

                const apiUrl = `${window.location.origin}/api/taskdatails/${task_id}`;
                const data={
                    status : !value
                };

                const requestOptions = {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(data)
                };

                fetch(apiUrl, requestOptions)

                .then(response => {
                    if (!response.ok) {
                    throw new Error('Network response was not ok');
                    }
                    return response.json();
                })

                .then(data => {
                    outputElement.textContent = JSON.stringify(data, null, 2);
                })
                .catch(error => {
                    console.error
                ('Error:', error);
                });
            }

            function updatetask(element){
                const task_id=element.getAttribute("data-task-id")
                const newtext=element.innerText;
                const apiUrl = `${window.location.origin}/api/taskdatails/${task_id}`;
                const data={
                    text : newtext
                };

                const requestOptions = {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify(data)
                };

                fetch(apiUrl, requestOptions)

                .then(response => {
                    if (!response.ok) {
                    throw new Error('Network response was not ok');
                    }
                    return response.json();
                })

                .then(data => {
                    outputElement.textContent = JSON.stringify(data, null, 2);
                })
                .catch(error => {
                    console.error
                ('Error:', error);
                });
            }
    </script>
</body>

</html>